<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>487781121319-ms6r6t0ninob0i8ri4mord3kd5roto9v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487781121319-ms6r6t0ninob0i8ri4mord3kd5roto9v</string>
	<key>API_KEY</key>
	<string>AIzaSyDjXHxBu32Fwmh9urpLpB-B33av8hUPoNA</string>
	<key>GCM_SENDER_ID</key>
	<string>487781121319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mobi.uchicago.firechat</string>
	<key>PROJECT_ID</key>
	<string>firechat-66f87</string>
	<key>STORAGE_BUCKET</key>
	<string>firechat-66f87.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:487781121319:ios:78425b1380795a79</string>
	<key>DATABASE_URL</key>
	<string>https://firechat-66f87.firebaseio.com</string>
</dict>
</plist>